<div class="modal contact-modal fade" id="contact-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container container-expanded">

                <div class="modal-body">
                    <div class="modal-close-btn close" data-dismiss="modal">
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <div class="contact-form text-center">
                        <svg class="block-concierge__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mark-concierge"></use>
                        </svg>
                        <form action="" method="POST">
                            <div class="form-group">
                                <label class="form-label" for="name">YOUR NAME
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" id="name" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name">YOUR EMAIL
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="email" id="name" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name">HOW CAN WE ASSIST YOU?
                                    <span class="text-danger">*</span>
                                </label>
                                <textarea rows="6" class="form-control" required></textarea>
                            </div>
                            <div class="form-action">
                                <button type="submit" class="btn-default">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>