<section class="ib-events text-center">
    <div class="container container-medium">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <figure class="main-figure">
                    <img width="521" height="340" src="images/Homepage_Events.jpg" class="prop-max-width" alt="" srcset="images/Homepage_Events.jpg 521w, images/Homepage_Events-300x196.jpg 300w"
                         sizes="(max-width: 521px) 100vw, 521px"> </figure>
                <h2 class="h_title">Collective Retreats Weddings &amp; Events</h2>
                <p class="h_sub_title">Special occasion? From weddings and family reunions to corporate retreats, our team can make magic happen.</p>
                <div class="action">
                    <p>Let us plan your perfect event.</p>
                    <div>
                        <a href="/events-celebrations/" class="btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
