<section class="ib-explore">
    <div class="container container-medium">
        <div class="h text-center">
            <h2 class="h_title text-uppercase">Explore More Destinations</h2>
            <p>
                <img class="alignnone size-full wp-image-493" src="images/off-grid-2.png" alt="" width="47" height="66">
            </p>
            <p class="h_sub_title">Looking for an off-the-grid adventure? Hoping to relax and indulge? We’ve got the perfect experience for you.</p>
        </div>
        <div class="locations">
            <div class="row">
                <div class="col-md-4">
                    <a href="/retreat/collective-hill-country/" class="card-explore-location">
                        <figure>
                            <img width="322" height="194" src="images/Collective-Hill-Country_Header_4-322x194.jpg" class="prop-max-width location-img"
                                 alt="" srcset="images/Collective-Hill-Country_Header_4-322x194.jpg 322w, images/Collective-Hill-Country_Header_4-427x256.jpg 427w"
                                 sizes="(max-width: 322px) 100vw, 322px">
                            <img width="222" height="222" src="images/cr_austin_icon-1.png" class="icon" alt="Collective Retreats Austin" srcset="images/cr_austin_icon-1.png 222w, images/cr_austin_icon-1-150x150.png 150w"
                                 sizes="(max-width: 222px) 100vw, 222px">
                            <figcaption>
                                Collective Hill Country </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/retreat/collective-hudson-valley/" class="card-explore-location">
                        <figure>
                            <img width="322" height="194" src="images/Collective-Hudson-Valley_Header_6-322x194.jpg" class="prop-max-width location-img"
                                 alt="" srcset="images/Collective-Hudson-Valley_Header_6-322x194.jpg 322w, images/Collective-Hudson-Valley_Header_6-427x256.jpg 427w"
                                 sizes="(max-width: 322px) 100vw, 322px">
                            <img width="228" height="228" src="images/cr_hudson_web_badge.png" class="icon" alt="" srcset="images/cr_hudson_web_badge.png 228w, images/cr_hudson_web_badge-150x150.png 150w"
                                 sizes="(max-width: 228px) 100vw, 228px">
                            <figcaption>
                                Collective Hudson Valley </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/retreat/collective-vail/" class="card-explore-location">
                        <figure>
                            <img width="322" height="194" src="images/Rehearsal-Dinner-62-322x194.jpg" class="prop-max-width location-img" alt="" srcset="images/Rehearsal-Dinner-62-322x194.jpg 322w, images/Rehearsal-Dinner-62-427x256.jpg 427w"
                                 sizes="(max-width: 322px) 100vw, 322px">
                            <img width="222" height="222" src="images/VailMark.png" class="icon right" alt="" srcset="images/VailMark.png 222w, images/VailMark-150x150.png 150w"
                                 sizes="(max-width: 222px) 100vw, 222px">
                            <figcaption>
                                Collective Vail </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
        <div class="action">
            <div class="text-center">
                <a href="http://www.collectiveretreats.com/retreats/" class="btn-default">View All Retreats</a>
            </div>
        </div>
        <blockquote>
        <span class="quote">
          <span class="quote-open">“</span>Yes, the walls of our tent were made of canvas&nbsp;
          <img class="alignnone size-full wp-image-481" src="images/Artboard-4-copy-72illustration.png" alt="" width="49" height="36">, but it also had a wood floor, electricity, an antler chandelier
          <img class="alignnone size-full wp-image-482" src="images/Artboard-4-copy-48illustration.png" alt="" width="64" height="36">, 1,500-thread-count cotton linens on plush beds, Turkish hotel spa towels and a gourmet French press coffee bar.
          <span class="quote-close">”</span>
          <div class="quote-author">The Denver Post</div>
        </span>
        </blockquote>
    </div>
</section>
