<div class="nav-container text-center">
    <div class="nav-spacer">
        <h2 class="nav-title text-uppercase">
            <a href="/the-collective-experience/" class="header-link">The Collective Experience</a>
        </h2>
        <h3 class="nav-title text-uppercase">
            <a href="/retreats/" class="header-link">Explore Our Retreats</a>
        </h3>
        <nav class="nav-items text-uppercase">
            <a href="/retreat/collective-governors-island/">
                Collective Governors Island
                <figure class="nav-item-icon">
                    <img width="222" height="222" src="images/cr_governors_web_badge_rotated.png" class="prop-max-width" alt="" srcset="images/cr_governors_web_badge_rotated.png 222w, images/cr_governors_web_badge_rotated-150x150.png 150w"
                         sizes="(max-width: 222px) 100vw, 222px"> </figure>
            </a>
            <a href="/retreat/collective-hill-country/">
                Collective Hill Country
                <figure class="nav-item-icon">
                    <img width="222" height="222" src="images/cr_austin_icon-1.png" class="prop-max-width" alt="Collective Retreats Austin" srcset="images/cr_austin_icon-1.png 222w, images/cr_austin_icon-1-150x150.png 150w"
                         sizes="(max-width: 222px) 100vw, 222px"> </figure>
            </a>
            <a href="/retreat/collective-hudson-valley/">
                Collective Hudson Valley
                <figure class="nav-item-icon">
                    <img width="228" height="228" src="images/cr_hudson_web_badge.png" class="prop-max-width" alt="" srcset="images/cr_hudson_web_badge.png 228w, images/cr_hudson_web_badge-150x150.png 150w"
                         sizes="(max-width: 228px) 100vw, 228px"> </figure>
            </a>
            <a href="/retreat/collective-yellowstone/">
                Collective Yellowstone
                <figure class="nav-item-icon">
                    <img width="220" height="218" src="images/yellowstone.png" class="prop-max-width" alt="" srcset="images/yellowstone.png 220w, images/yellowstone-150x150.png 150w"
                         sizes="(max-width: 220px) 100vw, 220px"> </figure>
            </a>
            <a href="/retreat/collective-vail/">
                Collective Vail
                <figure class="nav-item-icon">
                    <img width="222" height="222" src="images/VailMark.png" class="prop-max-width" alt="" srcset="images/VailMark.png 222w, images/VailMark-150x150.png 150w"
                         sizes="(max-width: 222px) 100vw, 222px"> </figure>
            </a>
            <hr style="width: 100%">
            <a href="/retreat/collective-sonoma/">
                Collective Sonoma
                <figure class="nav-item-icon">
                    <img width="222" height="222" src="images/SonomaMark.png" class="prop-max-width" alt="" srcset="images/SonomaMark.png 222w, images/SonomaMark-150x150.png 150w"
                         sizes="(max-width: 222px) 100vw, 222px"> </figure>
            </a>
        </nav>

        <nav class="nav-pages text-uppercase">
            <a href="/events-celebrations/">Events</a>
            <a href="/travelers-mark/">Traveler's Mark</a>
            <a href="/our-team/">Our Team</a>
            <a href="/property-partners/">PARTNER WITH US</a>
        </nav>
    </div>
    <div class="block-contact text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="text-uppercase">Coordinates</h2>
                    <address>
                        1750 15th St.
                        <br>Denver, CO 80202 </address>
                </div>
                <div class="col-md-4">
                    <h2 class="text-uppercase">Transmission</h2>
                    <p>
                        <a href="tel:(970) 445-2033">(970) 445-2033</a>
                        <br>
                        <a href="mailto:hello@collectiveretreats.com">hello@collectiveretreats.com</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2 class="text-uppercase">Say Hi</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/collectiveretreats/?fref=ts" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/collectiveretreats/?hl=en" target="_blank">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
